{% extends 'base.html' %}

{% block head %}
<title>About | SimpleSearch</title>
{% endblock %}

{% block content %}
<div class="container">

    <!-- Spacer -->
    <div style="height:15vh;"></div>

    <!-- Title -->
    <div style="text-align:center">
        <h1>About SimpleSearch</h1>
    </div>

    <br>

    <!-- Info -->
    <div style="text-align: center;">
        <p>SimpleSearch is a small learning project by <a href="https://retrylife.ca">Evan Pratten</a>. The goal is to
            build a small web search server and web crawler that can provide a very simple online search service. This
            entire project is open-source and self-hostable over on my <a
                href="https://github.com/Ewpratten/simplesearch">GitHub page</a>.</p>
    </div>


</div>
{% endblock %}